{eunit_opts, [verbose]}.
{deps, []}.
{profiles, [
            {test, [
                    {erl_first_files, ["test/rocksdb_test_util.erl"]}
                   ]}

           ]}.

{pre_hooks, [{clean, "rm -f priv/*.so"},
             {clean, "rm -rf _build/cmake"},
             {compile, "git submodule update --init --recursive"},
             {"(linux|darwin|solaris)", compile, "./do_cmake.sh -DWITH_BUNDLE_SNAPPY=ON -DWITH_BUNDLE_LZ4=ON $ERLANG_ROCKSDB_OPTS"},
             {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh -DWITH_BUNDLE_SNAPPY=ON -DWITH_BUNDLE_LZ4=ON $ERLANG_ROCKSDB_OPTS"},
             {"win32", compile, "mkdir _build\\cmake & cd _build\\cmake & cmake -DCMAKE_GENERATOR_PLATFORM=x64 -DWITH_BUNDLE_LZ4=ON -DWITH_BUNDLE_SNAPPY=ON ..\\..\\c_src"}
            ]}.





{post_hooks, [{"(linux|darwin|solaris)", compile, "./do_rocksdb.sh $ERLANG_ROCKSDB_BUILDOPTS"},
              {"(freebsd|netbsd|openbsd)", compile, "./do_rocksdb.sh $ERLANG_ROCKSDB_BUILDOPTS"},
              {"win32", compile, "cmake --build _build\\cmake --config Release --parallel"}
             ]}.


{hex, [
       {doc, #{provider => ex_doc}}
      ]}.



{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"GETTING_STARTED.md", #{title => "Getting Started"}},
        {"guides/batch_api.md", #{title => "Batch Api"}},
        {"guides/bitset_merge_operator.md", #{title => "Bitset Merge Operator"}},
        {"guides/counter_merge_operator.md", #{title => "Counter Merge Operator"}},
        {"guides/erlang_merge_operator.md", #{title => "Erlang Merge Operator"}},
        {"guides/checkpoints.md", #{title => "Checkpoints"}},
        {"guides/column_families.md",#{ title => "Column Families"}},
        {"guides/prefix_seek.md", #{title => "Prefix Seek"}},
        {"guides/transactions.md", #{title => "Transactions"}},
        {"guides/how_to_backup_rocksdb.md", #{title => "How to backup rocksdb"}},
        {"CUSTOMIZED_BUILDS.md", #{title => "Customize erlang-rocksdb builds"}},
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/EnkiMultimedia/erlang-rocksdb"},
    {source_ref, <<"master">>}
]}.
